[access]
	inheritFrom = Public-Plugins
[access "refs/*"]
	owner = group google/gerritcodereview-maintainers@googlegroups.com
	owner = group plugins-plugin-manager
	push = +force group plugins-plugin-manager
[project]
	description = One plugin to rule them all: install new plugins from Gerrit GUI
[access "refs/tags/*"]
	createTag = group plugins-plugin-manager
	createSignedTag = group gerrit-release-managers
	createSignedTag = group plugins-plugin-manager
